<p-panel header="Pipes numericos" class="pt-2">
    <h1>Pipes numericos</h1>
    <p>pipes incluidos en Angular - usualmente en el common module</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="Ventas netas" subheader="del presente año">
            {{ (totalCells + 1590) | number: '1.2-2' }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Ventas brutas" subheader="del presente año">
            {{ totalCells | currency : 'COP' : 'symbol-narrow' : '1.4-4' }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ percent | percent : '1.2-2' }}
        </p-card>
    </div>
</div>